<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [graficos]="graficos.grafico1"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [graficos]="graficos.grafico2"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [graficos]="graficos.grafico3"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [graficos]="graficos.grafico4"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>